# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Working folders
behavior-learning/
synaptic-models/figures/
circuit-models/files/
circuit-models/dev/
circuit-models/figures/
old/

# Mac files
*.DS_Store

# Large objects
synaptic-models/files/